<html>
	<head>
	</head>
	<body>
	<h1 style="text-align:center">Summary</h1>
	<p style="padding:30px">
		1. Amritvela Meditation<br>
       <%= am_d%> minutes.<br>
       <br>
       2. Murli Class<br>
       <%= mc%> <br>
       <br>
       3a. Yoga<br>
       <%= yg_d%> minutes.  <br>
       <br>  
       3b. KarmaYoga<br>
       <%= kyg_d%> minutes. <br>
       <br>  
       4. Applicability<br>
       <%= app%> <br>
       <br>
       5. Help<br>
       <%= help%> <br>
       <br>
       6. How many times did you practise the 5 forms?<br>
       <%= forms%> <br>
       <br>
       7. Swamaan ka abhyaas<br>
       <%= ska%><br>
       <%= app_d%> minutes.<br> 
       <br>
       8. Did you have good feeling towards others and wished good for everyone?<br>
       <%= gd_f%><br>
       <br>
       9. Namah Evening Meditation<br>
       <%= nem_d%> minutes.<br>
       <br>
       10. Did you write a letter at night to Shiva Baba, giving him all your worries?<br>
       <%= letter%><br>
       <br>
	</p>
	<p style="font-size:20px;text-align:center">
	Your total time spent is <%= time%> minutes.
	</p>
	<a href="/">Go Back</a>
	</body>
</html>