<html>
	<head>
	</head>
	<body>
	<h1 style="text-align:center">Summary</h1>
	<p style="padding:30px">
		<span style="font-size:20px">1. Amritvela Meditation</span><br>
       <b><%= am_d%></b> minutes.<br>
       <br>
       <span style="font-size:20px">2. Murli Class</span><br>
       <b><%= mc%></b> <br>
       <br>
       <span style="font-size:20px">3a. Yoga</span><br>
       <b><%= yg_d%></b> minutes.  <br>
       <br>  
       <span style="font-size:20px">3b. KarmaYoga</span><br>
       <b><%= kyg_d%></b> minutes. <br>
       <br>  
       <span style="font-size:20px">4. Applicability</span><br>
       <b><%= app%></b> <br>
       <br>
       <span style="font-size:20px">5. Help</span><br>
       <b><%= help%></b> <br>
       <br>
       <span style="font-size:20px">6. How many times did you practise the 5 forms?</span><br>
       <b><%= forms%></b> <br>
       <br>
       <span style="font-size:20px">7. Swamaan ka abhyaas</span><br>
       <b><%= ska%></b><br>
       <span style="font-size:20px">Duration:</span>
       <b><%= app_d%></b> minutes.<br> 
       <br>
       <span style="font-size:20px">8. Did you have good feeling towards others and wished good for everyone?</span><br>
       <b><%= gd_f%></b><br>
       <br>
       <span style="font-size:20px">9. Namah Evening Meditation</span><br>
       <b><%= nem_d%></b> minutes.<br>
       <br>
       <span style="font-size:20px">10. Did you write a letter at night to Shiva Baba, giving him all your worries?</span><br>
       <b><%= letter%></b><br>
       <br>
	</p>
	<p style="font-size:25px;text-align:center">
	Your total time spent is <b><%= time%></b> minutes.
	</p>
	<input type="button" value="Back" onclick="window.history.back()" /> 
	</body>
</html>